body {
	background-color: LightBlue;
}
h1{
	font-family: Arial;
	color: FireBrick;
	font-weight: bolder;
	text-align: center;
	text-shadow: 2px 2px black;
}
p {
	color: SeaGreen;
	background: normal;
	font-weight: bold;
	text-align: left;
}
.characters {
	color: Navy;
	font-weight: bold;
	list-style: upper-roman;
	display: inline-block;
	text-align: left;
}
.movies {
	color: Indigo;
	font-weight: bolder;
	list-style: square;
	display: inline-block;
	text-align: left;
}
	