h1 {
	color: black;
	font-weight: bold;
	text-align: center;
}
table {
	border: 2px solid black;
}
td:hover {
	background-color: Chartreuse;
	color: black;
}
tr, th {
	background-color: Crimson;
	color: white;
}
tr, td  {
	background-color: DarkCyan;
	color: Bisque;
	text-align: center;
}
